*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 225px;
    background-color: #fb7042;
}
    .logo {
        overflow: hidden;
        width: 1515px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .img2{
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
    }

    .escritorio {
        width: 100%;
        height: 5vh;
        display: flex;
        background-color: hsla(351, 66%, 46%, 0.63);
        justify-content: center;
        align-items: center;
        max-width: 1515px;
        position: fixed;
        display: none;
    }
    .enlaces a {
        text-decoration: none;
        color: white;
        font-family: tw cen -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: bold;
        margin: 5rem;
        padding: 1rem;
    }
    .degradado{
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0, .75);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    
    }
    .movil .enlaces2 {
        width: 80%;
        max-width: 600px;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        display: none;
    }
    .movil .enlaces2 a {
        width: 100%;
        background: #ffffff;
        font-size: 2rem;
        text-decoration: none;
        color: #fb7042;
        padding: 1.5rem 2rem;
        font-family: tw cen -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: ease-in-out .15s;
    }
        .movil .enlaces2 :hover {
            color: #740839;
            background: hsla(15, 96%, 62%, 0.11);
    }
    .salir {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        background: #a2a8ada4;
        width: 100%;
        font-size: 1.5rem;
        font-family: tw cen -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: ease-in-out .15s;
    }
    .movil .enlaces2 .salir :hover {
        background: hsla(333, 87%, 24%, 0.336);
    }
    .btnmenu {
        position: fixed;
        top: 18px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0 0 20px rgb(0, 0, 0, .35);
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .btnmenu i{
            font-size: 1.5rem;
    }
.uno {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
    .descripcion {
    width: 50%;
    height: 100%;
}
    h5 {
    font-family: eras bold Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    }
    p {
    font-family: sans-serif;
    text-align: justify; 
    font-size: 1rem;
    padding: 3rem;
    }
    .foto {
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
.galeria .h1{
        text-align: center;
        text-transform: uppercase;
        font-family: eras bold Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2rem;
        letter-spacing: 5px;
        color: #740839;
    }
    .contenedor {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
        .imagen {
            overflow: hidden;
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.75rem;
            position: relative;
            cursor: pointer;
        }
        .imagen ::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsla(15, 96%, 62%, 0.281);
            opacity: 0;
            transition: ease-in-out .25s;
        }
        .imagen :hover ::after{
            opacity: .6;
            }
            
            .img {            
                height: 110%;
            }
        img {
            height: 100%;
            transition: ease-in-out .25s;
        }
.footer {
    width: 100%;
    max-width: 110;
    margin: auto;
    text-align: center;
    color: #740839;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(255, 182, 193, 0.397);
    height: auto;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, .85);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}
.lightbox #exit {
        position: absolute;
        right: 4rem;
        top: 4rem;
        color: #ffffff;
        font-size: 1.5rem;
        opacity: .75;
        cursor: pointer;
        transition: ease-in-out .15s;
    }
    .lightbox #exit :hover {
        opacity: 1;
    }
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(2rem);
        opacity: 0;
        transition: ease-in-out .25s;
    }
    .image .img {
            margin-bottom: 2rem;
            border-radius: 1rem;
            max-width: 800px;
            max-height: 800px;
        }
        .span {
            color: #ffffff;
        }
